/* ------------------------------------*\
  # Main
\*------------------------------------ */
@use "../m-master" as mt;

// Tiempo de las transiciones y delys de los elementos
$time-opacity: 750ms;
$time-positions: 700ms;
$delay-positions: 50ms;

// Estilos generales para todas las animaciones
%animation {
  position: relative;
  visibility: hidden;
  opacity: 0;
}

/* ------------------------------------*\
  # Fade
\*------------------------------------ */
// Muestra un elemento que antes fue oculto, sin mover su posicion.
.fade-animation {
  @extend %animation;

  transition: opacity 1200ms ease-in-out;

  &--init {
    visibility: visible;
    opacity: 1;
  }
}

// Muestra un elemento desde la parte inferior.
.getin-bottom-animation {
  @extend %animation;

  top: mt.$box-14;
  transition:
    opacity $time-opacity,
    top $time-positions $delay-positions ease-in-out;

  &--init {
    top: 0;
    visibility: visible;
    opacity: 1;
  }
}

// Muestra un elemento desde la parte superior.
.getin-top-animation {
  @extend %animation;

  bottom: mt.$box-12;
  transition:
    opacity $time-opacity,
    bottom $time-positions $delay-positions ease-in-out;

  &--init {
    bottom: 0;
    visibility: visible;
    opacity: 1;
  }
}
