/* ------------------------------------*\
  # Main
\*------------------------------------ */
@use "../../../sass/modules/m-master" as mt;

/*
  Aplica para el componente Icon, centra mediante
  flex al icono dentro de su caja padre.
*/
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
